extends ../layout

block content
  .page-header
    h2
      i.fa.fa-twitter(style='color: #4099ff')
      | #{title}

  ol#tweet-list
    for tweet in tweets
      li
        .media
          a.pull-left(href='#link-to-twitter-profile')
            img.media-object.avatar(src=tweet.user.profile_image_url, alt='')
          .media-body
            h4.media-heading
              span.screenname
                a(href='#link-to-twitter-profile')= tweet.user.screen_name 
              span.author
                a(href='#link-to-twitter-profile')= tweet.user.name
            p.tweet-text
              !=tweet.rendered_text
            .tweet-footer
              a.permalink.tweet-time(href='#permalinkurlhere')= tweet.rendered_time
              .tweet-actions
                ul.list-unstyled
                  li.action-buttons
                    a.icon.icon-reply(href='#')
                      span.icon-label Reply
                  li.action-buttons
                    a.icon.icon-retweet(href='#')
                      span.icon-label Retweet
                  li.action-buttons
                    a.icon.icon-favorite(href='#')
                      span.icon-label Favorite
                  li.action-buttons
                    a.icon.icon-mute(href='#')
                      span.icon-label Mute